.wrapper {
  text-align: left;

  .contentWithMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

    .genInfo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      gap: 10%;

      .about {
        font-weight: 500;
        text-align: left;

        .title {
          display: flex;
          flex-direction: column;

          .name {
            span {
              font-size: 225%;

              &:hover {
                color: #ff9100;
                transition: all 0.3s ease-in-out;
              }
            }
          }

          .position {
            span {
              font-size: 300%;

              &:hover {
                color: #ff9100;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        .small {
          color: #aaa;
          font-size: 100%;
        }
      }

      .description {
        font-weight: 300 !important;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-size: 18px;
        line-height: 2;
      }
    }
  }

  .downSide {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    gap: 1380px;
    align-items: center;

    .github {
      &:hover {
        filter: invert(58%) sepia(39%) saturate(3298%) hue-rotate(0deg) brightness(150%)
          contrast(105%);
      }
    }

    .scroll {
      margin: -55px;
      transform: rotate(-90deg);
      font-size: 100%;
      text-decoration: none;
      color: #aaa;
      display: flex;
      align-items: flex-end;
      flex-wrap: nowrap;

      img {
        transform: rotate(90deg);
      }

      &:hover {
        img {
          transform: rotate(90deg) translateY(80%);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
