@import "../../index.scss";

.wrapper {
  @include f-rules(space-around);
  flex-wrap: wrap;
  margin: {
    left: 10px;
    right: 10px;
    top: 100px;
  }

  .content {
    @include f-dir(column);
    max-width: 35rem;

    .job {
      span {
        @include f-props($fz-h1);

        &:hover {
          @include transition;
          transform: translateY(-5px);
          color: $color-1;
        }
      }
    }

    .description {
      font-size: ($fz-normal);
      margin-top: 10px;
    }

    .link {
      text-decoration: none;
      color: $color-3;
      margin-top: 10px;
      img {
        transform: rotate(270deg);
      }
      .aboutMe {
        @include a-items;
        text-decoration: none;
        span {
          font-size: ($fz-normal);
          color: $color-1;
        }
        &:hover {
          opacity: 0.5;
          img {
            @include transition;
            transform: rotate(360deg);
          }
        }
        .arrow {
          z-index: -1;
        }
      }
    }
  }

  .computer {
    z-index: -1;
    width: 35rem;

    svg {
      .code_graph {
        path {
          @include transition;
          animation: float 4s ease-in-out infinite;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin: {
      top: 100px;
    }
  }
  .computer {
    display: none;
  }
}
