.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin-left: 50px;

    .job {
      span {
        font-weight: 900;
        font-size: 3rem;

        &:hover {
          transform: translateY(-5px);
          transition: all 0.3s ease-in-out;
          color: #ff9100;
        }
      }
    }

    .description {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    .link {
      text-decoration: none;
      color: #fff;
      margin-top: 10px;
      img {
        transform: rotate(270deg);
      }
      .aboutMe {
        display: flex;
        align-items: center;
        text-decoration: none;
        span {
          font-size: 1.2rem;
          color: #ff9100;
        }
        &:hover {
          opacity: 0.5;
          img {
            transform: rotate(360deg);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }

  .computer {
    z-index: -1;
    width: 35rem;

    svg {
      .code_graph {
        path {
          animation: float 4s ease-in-out infinite;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
