@use "../../index.scss" as *;
@use "../../mixins.scss" as mixins;

.wrapper {
  width: var(--size);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;

  .experience {
    @include mixins.f-props(var(--fz-h1));
    margin-bottom: 2rem;
  }

  .description {
    font-size: var(--fz-normal);
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  .link {
    @include mixins.f-props(var(--fz-normal), calc(var(--fw-bold) - 400));

    .seeProjects {
      @include mixins.f-rules;
      text-decoration: none;
      color: var(--tertiary);
    }

    .arrow {
      z-index: -1;
      transform: rotate(270deg);
    }

    &:hover {
      opacity: 0.5;

      .arrow {
        transition: all 0.3s ease-in-out;
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fz-h1: 2rem;
    --fz-h2: 1.5rem;
    --fz-normal: 1rem;
  }

  .wrapper {
    padding: 1rem;

    .experience {
      line-height: 0.8;
      margin-bottom: 1rem;
    }

    .experience,
    .description {
      width: 90vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: var(--size);
    gap: 2rem;
  }
}
