@import "../../index.scss";

.wrapper {
  @include margin;
  @include f-rules;
  // flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 25px;

  .experience {
    .expEl {
      @include f-props($fz-h1);
      &:hover {
        color: $color-1;
      }
    }
  }

  .description {
    font-size: ($fz-normal);
  }

  .link {
    @include f-rules;
    @include f-props($fz-normal, $fw - 400);
    color: $color-1;

    .seeProjects {
      @include f-rules;
      text-decoration: none;
      color: $color-1;
    }

    .arrow {
      z-index: -1;
      transform: rotate(270deg);
    }

    &:hover {
      opacity: 0.5;

      .arrow {
        @include transition;
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  $fz-h1: 2rem;
  $fz-h2: 1.5rem;
  $fz-normal: 1rem;
  .wrapper {
    @include margin;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include margin;
    max-width: 45%;
  }
}
