.menu {
  display: flex;
  align-items: flex-end;
  flex-direction: row;

  li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 900;
      font-family: monospace;
    }
  }
  .line {
    height: 50px;
    width: 3px;
    background-color: #fff;
    border-radius: 50px;
  }
}
