.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;

  .logo {
    display: flex;
    align-items: center;

    img {
      &:hover {
        transform: rotate(360deg);
        transition: all 0.7s ease-in-out;
      }
    }

    span {
      font-weight: 900;
      font-size: 35px;
    }
  }

  .contactsBtn {
    background-color: transparent;
    border-radius: 18px;
    border: 5px solid #fff;
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      color: #000;
      background-color: #fff;
      border: 5px solid transparent;
    }
  }
}
