.wrapper {
  font-weight: 900;
  font-size: 18px;
  text-align: left;

  .computer {
    position: fixed;
    z-index: -1;
    top: 5%;
    left: 50%;
    width: 35%;
    height: 35%;
    max-width: 900px;

    svg {
      .code_graph {
        path {
          animation: float 4s ease-in-out infinite;
          transition: all 0.3s ease-out;
        }
      }
    }
  }

  .contentWithMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 50%;

      .job {
        span {
          font-size: 250%;
          font-weight: 1200;
          line-height: 100%;

          &:hover {
            transform: translateY(-5px);
            transition: all 0.3s ease-in-out;
            color: #ff9100;
          }
        }
      }

      .description {
        font-size: 125%;
        line-height: 125%;
      }

      .link {
        text-decoration: none;
        color: #fff;
        margin-top: 3%;
        img {
          transform: rotate(270deg);
        }
        .aboutMe {
          display: flex;
          align-items: center;
          text-decoration: none;
          span {
            color: #ff9100;
          }
          &:hover {
            opacity: 0.5;
            img {
              transform: rotate(360deg);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
