@import "../../index.scss";

.wrapper {
  @include margin;
  @include f-rules(flex-start);
  flex-wrap: wrap;

  .title {
    .name {
      @include f-props(var(fz-h2));
      @include filter(var(--color-h2), 0, 0);
    }

    .position {
      @include f-props(var(--fz-h1));
    }

    .small {
      font-size: var(--fz-small);
      color: var(--black-50);
    }
  }

  .description {
    font-size: var(--fz-normal);
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fz-h1: 2rem;
    --fz-h2: 1.5rem;
    --fz-normal: 1rem;
  }

  .wrapper {
    @include margin;
    max-width: 35rem;

    .title {
      line-height: 1.35;
    }

    .description {
      margin-top: 25px;
      font-size: var(--fz-normal);
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include f-rules;
    gap: 6rem;

    .description {
      width: 35vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include margin;
  }
}
