@import "../../index.scss";

.wrapper {
  @include f-rules(flex-start);
  flex-wrap: wrap;
  margin: {
    left: 50px;
    right: 50px;
    top: 100px;
  }

  .title {
    .name {
      @include f-props($fz-h2);

      &:hover {
        @include transition;
        color: $color-1;
      }
    }

    .position {
      @include f-props($fz-h1);
      color: $color-1;

      &:hover {
        @include transition;
        color: $color-3;
      }
    }

    .small {
      font-size: ($fz-small);
      color: $color-5;
    }
  }

  .description {
    font-size: ($fz-normal);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 35rem;
    margin: {
      top: 100px;
      left: 10px;
      right: 10px;
    }
    .title {
      line-height: 1.35;
    }

    .description {
      margin-top: 25px;
      font-size: ($fz-normal);
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include f-rules;
    gap: 6rem;

    .description {
      width: 35vw;
    }
  }
}
