@import "../../index.scss";

.wrapper {
  @include margin;
  @include f-rules(flex-start);
  flex-wrap: wrap;

  .title {
    .name {
      @include f-props($fz-h2);

      &:hover {
        @include transition;
        color: $color-1;
      }
    }

    .position {
      @include f-props($fz-h1);
      color: $color-1;

      &:hover {
        @include transition;
        color: $color-3;
      }
    }

    .small {
      font-size: ($fz-small);
      color: $color-5;
    }
  }

  .description {
    font-size: ($fz-normal);
  }
}

@media screen and (max-width: 768px) {
  $fz-h1: 2rem;
  $fz-h2: 1.5rem;
  $fz-normal: 1rem;

  .wrapper {
    @include margin;
    max-width: 35rem;

    .title {
      line-height: 1.35;
    }

    .description {
      margin-top: 25px;
      font-size: ($fz-normal);
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include f-rules;
    gap: 6rem;

    .description {
      width: 35vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include margin;
  }
}
