@import "../../index.scss";

.wrapper {
  @include a-items;

  .switchInput {
    background-color: hsl(210, 90%, 70%);
    border-radius: 1.2rem;
    box-shadow: 0 0 0 0.125rem hsla(var(--hue), 90%, 50%, 0),
      0.125rem 0.125rem 0.125rem hsla(var(--hue), 90%, 10%, 0.2);
    outline: transparent;
    position: relative;
    width: 4rem;
    height: 2rem;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--trans-dur) var(--trans-timing);

    &:focus-visible {
      box-shadow: 0 0 0 0.125rem hsl(var(--hue), 90%, 50%),
        0.125rem 0.125rem 0.125rem hsla(var(--hue), 90%, 10%, 0.2);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
    }
    &::before {
      background-color: hsl(50, 90%, 50%);
      border-radius: inherit;
      mask-image: linear-gradient(
        120deg,
        hsl(0, 0%, 0%) 20%,
        hsla(0, 0%, 0%, 0) 80%
      );
      -webkit-mask-image: linear-gradient(
        120deg,
        hsl(0, 0%, 0%) 20%,
        hsla(0, 0%, 0%, 0) 80%
      );
      inset: 0;
      transition: background-color var(--trans-dur) var(--trans-timing);
    }
    &::after {
      background-color: hsl(0, 0%, 100%);
      border-radius: 100%;
      box-shadow: 0.1rem 0.1rem 0rem hsla(var(--hue), 90%, 10%, 0.1);
      top: 0.35rem;
      left: 0.25rem;
      width: 1.2rem;
      height: 1.2rem;
      transition: background-color var(--trans-dur) var(--trans-timing),
        transform var(--trans-dur) var(--trans-timing);
      z-index: 1;
    }
    &:checked {
      background-color: hsl(290, 90%, 40%);

      &::before {
        background-color: hsl(220, 90%, 40%);
      }

      &::after {
        background-color: hsl(0, 0%, 0%);
        transform: translateX(2rem);
      }
    }
  }
}
