@use "../../index.scss" as *;
@use "../../mixins.scss" as mixins;

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-100);
  filter: blur(10px);
  transform: scale(1.1);
  transition: opacity 0.3s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.loaded {
    opacity: 1;
  }
} 