.wrapper {
  display: flex;
  flex-direction: column;

  .contentWithMenu {
    display: flex;
    justify-content: space-between;

    .expInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 45%;
      gap: 18px;
      margin-left: 350px;

      .experience {
        span {
          font-size: 400%;
          font-weight: 900;
          &:hover {
            color: #ff9100;
          }
        }
      }

      .description {
        font-size: 150%;
      }

      .link {
        text-decoration: none;
        color: #fff;
        font-size: 125%;
        font-weight: 500;

        img {
          transform: rotate(270deg);
        }

        .aboutMe {
          display: flex;
          align-items: center;
          text-decoration: none;

          span {
            color: #ff9100;
          }

          &:hover {
            opacity: 0.5;

            img {
              transform: rotate(360deg);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
