@import "../../index.scss";

.langChoice {
  margin-right: 50px;
  display: flex;
  justify-content: space-around;

  .language {
    @include f-props;
    background-color: transparent;
    color: var(--secondary);
    border: none {
      radius: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .language {
    font-size: 24px !important;
    font-weight: 900 !important;
  }
}
