@import "../index.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 100px;
  padding: 18px;
  border: 1px solid $color-1 {
    radius: 18px;
  }

  .title {
    @include f-props($fz-h2);
    @include f-rules;
    .settingsAnim:hover {
      color: $color-1;
    }
  }

  .sunMoon {
    margin-left: 18px;
    .sunLight {
      margin-right: -35px;
    }
  }

  .langChoice {
    font-size: $fz-normal;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;

    .languages {
      font-size: $fz-small;
      background-color: $color-1;
      color: $color-3;
      border: none {
        radius: 8px;
      }
    }
  }
}
