@import "../../index.scss";

.wrapper {
  @include f-rules;
  flex-direction: column;
  gap: 35px;
  flex-wrap: wrap;
  width: var(--size);

  .skillsText {
    gap: 10px;

    .small {
      font-size: var(--fz-small);
      color: var(--black-50);
    }

    .title {
      @include f-props(var(--fz-h1), var(--fw-xbold));
      &:hover {
        transition: all 0.3s ease-in-out;
        color: var(--tertiary);
        cursor: pointer;
      }
    }

    .description {
      font-size: var(--fz-normal);
    }

    .link {
      text-decoration: none;
      color: var(--tertiary);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .langs {
    @include f-rules;
    font-size: var(--fz-normal);
    flex-wrap: wrap;
    gap: 48px;

    .skillEl a {
      @include column-aic;
      text-decoration: none;
      color: var(--secondary);
      text-transform: uppercase;

      img {
        object-fit: contain;
        width: 75px;
        height: 75px;
      }

      &:hover {
        @include filter;
        svg {
          transform: translateY(-5px);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fz-h1: 2rem;
    --fz-h2: 1.5rem;
    --fz-normal: 1rem;
    --fw-xbold: 400;
  }

  .wrapper {
    @include margin;
    .skillsText {
      text-align: left;
    }

    .langs {
      .skillEl a {
        width: 75px;
        height: 75px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    @include margin;
    .skillsText {
      @include column-aic;
      text-align: center;
      width: 45vw;
    }
    .langs {
      max-width: 40vw;
    }
  }
}
