@import "../../index.scss";

.wrapper {
  @include f-rules(space-evenly);
  flex-wrap: wrap;

  .genInfo {
    @include f-dir(column);
    width: $size - 65%;
    gap: 1rem;

    .description {
      font-size: $fz;

      .link {
        text-decoration: none;
        color: $color-1;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .email {
      @include f-props($fz + 0.5rem);
      display: flex;
      text-decoration: none;
      color: $color-3;
      gap: 18px;

      img,
      span {
        &:hover {
          @include filter;
          transition: all 0.18s ease-in-out;
        }
      }
    }
  }
}
