@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import "./mixins.scss";
@import "./sass-variables.scss";

body {
  background: $page-bg;
  @mixin dark {
    color: #000;
  }
  color: $color-3;
  min-height: $height-1;
  overflow-x: hidden;
  transition: background-color $trans-dur, color $trans-dur;
  display: flex;
  height: 100vh;

  &:has(.switchInput:checked) {
    background: invert($page-bg);
    color: #000;
    .layout {
      color: #000;
      .header {
        color: #000 !important;
      }
    }
  }
}

input {
  color: $fg;
  font: 1rem/1.5 sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
