@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
@import "./mixins.scss";
@import "./sass-variables.scss";

body {
  background: var(--primary-bg);
  color: var(--secondary);
  min-height: var(--height-1);
  // overflow-x: hidden;
  transition: background-color var(--trans-dur), color var(--trans-dur);
  display: flex;
  height: 100vh;

  &:has(.switchInput:checked) {
    --primary-bg: invert(var(--primary-bg));
    --secondary: invert(var(--secondary));
    --color-h1: var(--tertiary);
    --black-100: #fff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --color-h2: -1;
    --menu-toggle: #ff9100;
    --menu-toggle-secondary: #fff;

    .header {
      background-color: #fff;
    }

    a > img {
      @include filter;
    }

    label > img {
      @include filter;

      &:hover {
        @include filter(100, 100, 100, 100deg);
      }
    }
  }
}

input {
  color: var(--fg);
  font: 1rem/1.5 sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

svg {
  .code_graph {
    path {
      transition: all 0.3s ease-in-out;
      animation: float 4s ease-in-out infinite;
    }
  }
}
