$page-bg: rgba(33, 33, 33);
//colors
$color-1: #ff9100;
$color-2: transparent;
$color-3: #fff;
$color-4: #000;
$color-5: #aaa;
$color-6: #222;
//font props
$fz-normal: 1.5rem;
$fz-small: 1.25rem;
$fz-h1: 3rem;
$fz-h2: 2rem;
$fw: 900;
//sizes
$size: 100%;
$width-1: 100vw;
$height-1: 100vh;
