$page-bg: rgba(33, 33, 33);
//colors
$color-1: #ff9100;
$color-2: transparent;
$color-3: #fff;
$color-4: #000;
$color-5: #aaa;
$color-6: #222;
//font props
$fz-normal: 1.5rem;
$fz-small: 1.25rem;
$fz-h1: 3rem;
$fz-h2: 2rem;
$fw: 900;
//sizes
$size: 100%;
$width-1: 100vw;
$height-1: 100vh;

//settings
$hue: 223;
$bg: hsl($hue, 10%, 90%);
$fg: hsl($hue, 10%, 10%);
$primary: hsl($hue, 90%, 50%);
$trans-dur: 0.3s;
$trans-timing: cubic-bezier(0.76, 0.05, 0.24, 0.95);
$trans-timing-in: cubic-bezier(0.76, 0.05, 0.86, 0.06);
$trans-timing-out: cubic-bezier(0.05, 0.76, 0.06, 0.86);
