@use "../index.scss" as *;
@use "../mixins.scss" as mixins;

.layout {
  @include mixins.f-props(var(--fz-normal), default);
  color: --var(--secondary);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 4rem 0;
  }
}
