@import "../index.scss";

.layout {
  @include f-props($fz, default);
  @include f-dir;
  color: $color-3;
  line-height: 1.5;
  gap: 25px;

  main {
    margin: {
      left: 18px;
      right: 18px;
    }
  }
}
